// Set breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// Set colour palette
$primary:       #2E5894;
$secondary:      #3d405b;
$success:       #52b788;
$info:          #a8dadc;
$warning:       #ffd166;
$danger:        #ba181b;
$light:         #f1faee;
$dark:          #03071e;

// Set font-sizes
$font_size_xs: 18px;
$font_size_s: 24px;
$font_size_sm: 28px;
$font_size_m: 32px;
$font_size_ml: 38px;
$font_size_lg: 44px;
$font_size_xl: 52px;

