// Set breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// Set colour pallete
$primary:       #3a86ff;
$secondary:      #3d405b;
$success:       #52b788;
$info:          #a8dadcff;
$warning:       #ffd166ff;
$danger:        #ba181b;
$light:         #f1faeeff;
$dark:          #03071e;


