@use  "../abstracts/mixins";
@use "../abstracts/custom_variables" as cv;
@use "../base/typography";

.form {
  @include mixins.normalize--row-light;
  display: flex;
  flex-direction: column;
  .form--container {
    padding: 40px !important;
    .form--column__title {
      font-family: typography.$font_biryani;
      text-align: center;
    }
    .form-group.row {
      justify-content: space-evenly;
      margin: 5px auto;
      label {
        font-family: typography.$font_biryani;
        font-weight: 500;
        margin-top: 10px;
      }
      .form--feedback-warning {
        color: cv.$danger;
        font-size: cv.$font_size_xs;
        font-weight: 600;
        margin-top: 10px;
      }
      @media screen and (min-width: cv.$xl) {
        max-width: 70%;
      }
      .form--column__submit {
        margin-top: 40px;
        width: fit-content;
        input {
          font-weight: 600;
        }
      }
    }
  }
}