@use "../base/typography";
@use "../abstracts/custom_variables" as cv;

.header {
  align-items: center;
  background-color: orange;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 0;
  min-height: 150px;
  padding: 0 40px;
  .header--left-container {
    .header--title {
      font-family: typography.$font_kanit;
      font-weight: 500;
    }
  }
  .header--right-container {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 10px;;
    a {
      font-family: typography.$font_biryani;
      display: flex;
      margin-right: 20px;
    }
  }
}


