//- extends nothing

//- block header
//-   nav#navbar.row
//-     div.navbar--burger(aria-controls= "primary-navigation" aria-expanded="false") 
//-       span.navbar--burger__span
//-       span.navbar--burger__span
//-       span.navbar--burger__span
//-     div#navbar-menu.navbar--background(data-visible="false")
//-       ul.navbar--menu
//-         div
//-           li.navbar--menu__item
//-             h6.navbar--menu__info Inventory
//-         div.navbar--menu__navigation
//-           li.navbar--menu__item
//-             a.navbar--menu__link(href="#") Add new category
//-           li.navbar--menu__item 
//-             a.navbar--menu__link(href="#") Work in progress
//-           li.navbar--menu__item 
//-             a.navbar--menu__link(href="#") Example
//-   script(src="/javascripts/header.js" type="text/javascript")

//-   block content