/* CATEGORY LIST */

.row>* {
  padding: 0 !important;
}

/* Style category cards */
.category--background {
  background-size: cover; 
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: center;
  position: relative;
}
.category--background h5 {
  margin-left: 20px;
  margin-top: 10px;
  position: relative;
  text-decoration: underline;
}
.category--background p {
  margin-left: 20px;
  position: relative;
}

/* Create overlay for each card */
.gradient--overlay::after {
  content: "";
  height: 100%;
  left: 0;
  opacity: .85;
  position: absolute;
  top: 0;
  width: 100%;
}
.gradient--overlay-yellowpink::after {
  background-image: linear-gradient(45deg, #eaee44, pink);
}
.gradient--overlay-orangeyellow::after {
  background-image: linear-gradient(-45deg, orange, #eaee44);
}

/* Style Cards */
.item--container, .category--container {
  position: relative;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-direction: row;
  height: fit-content;
  min-height: 160px;
  width: auto;
  background-size: cover;
}
.item--content, .category--content {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 20px;
}
.item--options, .category--options {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.item--options a,.category--options a, form {
  margin-top: 20px;
}

/* Style 'Back to Shop' anchor tag in category detail page */
.category--navigation-container {
  justify-content: flex-end;
  z-index: 10;
}
.category--navigation-container a {
  color: black;
  display: flex;
  margin-right: 20px;
  text-decoration: none;
}
.category--navigation-container a:hover {
  color:black;
  text-decoration: underline;
}

/* Style forms */
form label {
  margin-top: 10px;
}