@use "../abstracts/mixins";
@use "../base/typography";

.content--empty {
  @include mixins.normalize--row-light;
  .content--empty-content {
    display: flex;
    flex-direction: column;
    padding: 40px !important;
    text-align: center;
    .content--empty-title {
      font-family: typography.$font_biryani;
    }
    .content--empty-cta {
      a button {
        font-weight: 600;
      }
    }
  }
}