@use "typography";

body {
  font-family: typography.$font_prompt;
}

.row>* {
  padding: 0 !important;
}

// Change scrollbar appearance
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}