@use "typography";

// Define standard font
body {
  font-family: typography.$font_prompt;
}

// Change scrollbar appearance
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

// Make children of rows always full width
.row>* {
  padding: 0 !important;
}

// Remove hyperlink default colors
a {
  color: black;
  text-decoration: none;
  &:hover {
    color:black;
    text-decoration: underline;
  }
}