@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@300;400&family=Kanit:ital,wght@0,600;0,700;1,600;1,700&family=Prompt:ital,wght@0,100;0,200;1,100;1,200&display=swap');

$font_kanit: 'Kanit';
$font_biryani: 'Biryani';
$font_prompt: 'Prompt';

h1 {
  font-size: 50px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 26px;
}

h6 {
  font-size: 22px;
}

p {
  font-size: 16px;
}