@use "../abstracts/custom_variables" as cv;
@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@300;400&family=Kanit:ital,wght@0,600;0,700;1,600;1,700&family=Prompt:ital,wght@0,100;0,200;1,100;1,200&display=swap');

$font_kanit: 'Kanit';
$font_biryani: 'Biryani';
$font_prompt: 'Prompt';

h1 {
  font-size: cv.$font_size_xl;
}

h2 {
  font-size: cv.$font_size_lg;
}

h3 {
  font-size: cv.$font_size_ml;
}

h4 {
  font-size: cv.$font_size_m;
}

h5 {
  font-size: cv.$font_size_sm;
}

h6 {
  font-size: cv.$font_size_s
}

p {
  font-size: cv.$font_size_xs;

}



